<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Parkinson Disease | Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <style>
        body {
            padding-top: 3.5rem;
        }

        nav {
            font-family: sans-serif;
        }

        .navbar-brand {
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>

</head>
<body>
    <form id="form1">
        <header>
            <!--Navigation Bar-->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #000712;">
                <a class="navbar-brand" href="#"><b>PARKANALYTICA</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about2">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disindex">Disease Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pd">Voice Test</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/enquiry">Enquiry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help2">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    </ul>
                </div>
            </nav>

         <main role="main">

            <div class="jumbotron" style="background-color: #092146; color: white;">
                <div class="container">
                    <h1 class="display-4">Hello! Let's Get Started with Parkinson Disease Test</h1>
                    <p>Welcome! PARKANALYTICA is designed specifically for medical institutions to generate risk assessments for Parkinson's disease in their patients. Click below to explore the capabilities of Risk in assessing and managing Parkinson's disease</p>
                    <p><a class="btn btn-primary btn-lg" href="/disindex" role="button"> Get Started &raquo;</a></p>
                </div>
            </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>Parkinson Disease Prediction</h2>
        <p>Navigate to the Assessment section to input patient data and generate risk anlysis for Parkinson's disease.</p>

      </div>
      <div class="col-md-4">
        <h2>Resources</h2>
        <p>Explore resources and information about Parkinson's disease to stay informed and educated.</p>

    </div>
    <div class="col-md-4">
        <h2>Disease Index</h2>
        <p>Navigate to the "Disease Index" section and gain in-depth information about each of these diseases.</p>

    </div>
    </div>
    <br>
<br>
<br>
<br>
<br>
<br>

    <hr>
  </div>
</main>

<footer class="container">
  <p>&copy; Parkinson Disease. All Rights Reserved</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>